html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    width: 100%;
    height: 250px;
    background-color: #d9d9d9;
    text-align: center;
    color: black;
    line-height: 200px;
}

.main__section {
    background-color: #1f2937;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    padding: 2rem 4rem;
    align-items: center;
}

.nav__logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.nav__links {
    display: flex;
    gap: 2.5rem;
}

.nav__item a {
    color: #f9faf8;
    transition: color 0.3s ease-in-out;
}

.nav__item a:hover {
    color: #3882f6;
}

.hero__content {
    padding: 10rem 4rem;
    display: flex;
    gap: 10rem;
}

.hero__text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
}

.hero__description {
    font-size: 18px;
    color: #e5e7eb;
}

.hero__button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #3882f6;
    border: none;
    outline: none;
    color: #f9faf8;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.hero__button:hover {
    background-color: #3102f8;
}

.random {
    padding: 5em 4em;
    text-align: center;
}

.random__title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.random__images {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 4rem 5rem;
    flex-wrap: wrap;
}

.random__img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square__random {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 4px solid #3882f6;
}

.random__desc {
    width: 180px;
    text-align: center;
}

.quote__section {
    height: 40rem;
    background-color: #e5e7eb;
    color: white;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
    padding-block: 2rem;
}

.container__quote {
    max-width: 50ch;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #1f2937;
}

.quote {
    align-self: flex-start;
}

.author {
    align-self: flex-end;
    padding: 0 5rem;
}

.action__section {
    padding: 10rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action__description {
    margin: 0;
}

.action__data {
    padding: 8rem 15rem;
    border-radius: 10px;
    height: 5rem;
    gap: 10rem;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.action__title {
    font-size: 24px;
    margin-bottom: 0;
}

.action__description {
    font-size: 18px;
}

.outline__button {
    border: 2px solid white;
}

.footer {
    padding: 8rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.footer p {
    color: #e5e7eb;
    font-size: 18px;
}
